* , *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.4;
}

a {
  color: #2836AD;
  text-decoration-skip: ink;
}

a:visited {
  color: #5D28AD;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #F7F7F7;
  height: 5.9rem;
  position: relative;
}

header .home {
  margin: -1.2rem 0 0 1.7rem;
  height: 2.5rem;
  position: absolute;
  top: 50%;
}

header .home img {
  display: inline-block;
  height: 100%;
}

nav {
  margin: -0.8rem 0 0 0;
  position: absolute;
  top: 50%;
  right: 0;
}

nav a {
  margin: 0 2.1rem 0 0;
}

h1 {
  font-weight: 600;
  color: #4A4A4A;
  text-align: center;
  margin: 3.4rem 0;
  font-size: 2.0rem;
}

section {
  margin: 0 auto;
  width: 64rem;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

.bar {
  background-color: #F7F7F7;
  vertical-align: middle;
  width: 100%;
}

.editor-wrapper {
  flex: 1.7;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  margin-right: 1rem;
  padding: 0.3rem;
}

.editor-pitch {
  flex: 1;
  margin-left: 1rem;
}

#editor {
  margin: 0.2rem;
}

.toolbar {
  width: 100%;
  background: #F7F7F7;
}

.toolbar button {
  background: transparent;
  opacity: 0.6;
  border: 0;
  border-radius: 3px;
  padding: 4px;
  line-height: 0;
  margin: 0.2rem;
}

.toolbar button[data-arg=ul] {
  margin-left: 17px;
}

.format {
  flex: 1;
  text-align: center;
  position: relative;
  height: 100%;
}

.note {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 0.7rem;
  top: 100px;
  width: 100%;
}




/*
h2 {
  color: #3f3f3f;
}

h3 {
  color: #5c5c5c;
}

p {
  max-width: 45em;
  color: #5e5d5d;
  text-align: left;
}

p.strong {
  color: #1f1f1f;
  font-size: 1.25rem;
}


section {
  padding: 1rem 2rem;
}

section.libraries, section.examples, section.cards {
  border-top: 2px solid #ccc;
  background-color: #FFF;
}

section[role="main"] {
  text-align: center;
}

section[role="main"] p {
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

table th {
  font-weight: bold;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.editor-wrapper {
  margin: 1em;
  padding-left: 0.5em;
  width: 80%;
  min-height: 150px;
  border: 2px solid #ccc;
}

.editor {
}

.two-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}

.two-column .column {
  flex: 1;
  max-width: 40%;
  margin: 1em;
  overflow: scroll;
}

#editor-output, #editor-wrapper {
  height: 350px;
  overflow: scroll;
  text-align: left;
}

.mobiledoc-output {
  white-space: pre-wrap;
  font-family: monospace;
  padding: 1rem;
  font-size: 12px;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
}

.toolbar {
  text-align: center;
}

#editor-wrapper {
  padding: 1rem;
  background-color: #FFFFFF;
  border: 2px solid #CCCCCC;
}
*/
